<mat-form-field>
  <mat-label>{{ "language" | translate }}</mat-label>
  <mat-select [(value)]="selectedLanguage" (valueChange)="changeLanguage()">
    <mat-option value="pt">Portuguese</mat-option>
    <mat-option value="en">English (US)</mat-option>
    <mat-option value="fr">French</mat-option>
  </mat-select>
</mat-form-field>

<div class="container">
  <form [formGroup]="weatherForm" class="sub-container">
    <mat-form-field>
      <mat-label>{{ "city" | translate }}</mat-label>
      <input matInput formControlName="city" />
      <mat-error>{{ "cityError" | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "temperature" | translate }}</mat-label>
      <input type="number" matInput formControlName="temperature" />
      <span matTextSuffix>º</span>
      <mat-error>{{ "temperatureError" | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "rainingStatus" | translate }}</mat-label>
      <input type="number" matInput formControlName="rainingStatus" />
      <span matTextSuffix>%</span>
      <mat-error *ngIf="rainingStatus?.errors?.['required']">{{
        "rainingStatusError" | translate
      }}</mat-error>
      <mat-error
        *ngIf="rainingStatus?.errors?.['min'] || rainingStatus?.errors?.['max']"
      >
        {{ "rainingStatusErrorMinMax" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "date" | translate }}</mat-label>
      <input type="datetime-local" matInput formControlName="date" />
      <mat-error>{{ "dateError" | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "networkPower" | translate }}</mat-label>
      <input type="number" matInput formControlName="networkPower" />
      <mat-error *ngIf="networkPower?.errors?.['required']">{{
        "networkPowerError" | translate
      }}</mat-error>
      <mat-error
        *ngIf="networkPower?.errors?.['min'] || networkPower?.errors?.['max']"
      >
        {{ "networkPowerErrorMinMax" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "altitude" | translate }}</mat-label>
      <input type="number" matInput formControlName="altitude" />
      <span matTextSuffix>m</span>
      <mat-error>{{ "altitudeError" | translate }}</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="addWeather()">
      {{ "submit" | translate }}
    </button>
  </form>

  <div class="sub-container">
    <app-city-weather-card
      *ngFor="let city of citiesSorted"
      [city]="city"
    ></app-city-weather-card>
  </div>
</div>

<ng-container *ngIf="selectedCity">
  <app-city-detailed [city]="selectedCity"></app-city-detailed>
</ng-container>
